<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-25169627-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-25169627-2');
	</script>

	<title>{{ page.title }}{% if page.title %} - {% endif %}Kyle Batson Photo</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="alternate" type="application/rss+xml"  href="{{ site.url }}/feed.xml" title="{{ site.title }}">
	{% if page.url == "/" %}<link rel="stylesheet" type="text/css" href="/assets/css/kbp-home.css">
	{% else %}<link rel="stylesheet" type="text/css" href="/assets/css/kbp-internal.css">{% endif %}
	<link rel="stylesheet" href="https://use.typekit.net/dln0vji.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/assets/js/jquery.touchSwipe.min.js"></script>
	{% if page.url != "/" %}<script type="text/javascript" src="/assets/js/slideshow.js"></script>
	<script src="/assets/js/modal.js"></script>{% endif %}
	<script type="text/javascript" src="/assets/js/kbp-nav.js"></script>
	{% if page.url == "/" %}
	<link rel="stylesheet" href="/assets/js/vegas/vegas.css">
	<script src="/assets/js/vegas/vegas.min.js"></script>{% endif %}
	{% if page.url contains 'blog/' %}
	<script async src="https://just-comments.com/w.js"></script>
	{% endif %}
</head>
<body>
{% if page.url != "/" %}<a href="#main" class="at-only">Skip to main content</a>{% endif %}
	<header>
		<h1><a href="/"><span>Kyle </span><span>Batson </span><span>Photo</span></a></h1>
		{% include navigation.html %}
	</header>