<nav aria-labeledby="mainNavTitle">
		<h4 class="at-only" id="mainNavTitle">Main Navigation</h4>
		<a href="#" id="navToggle">Menu</a>
			<ul>
				{% for item in site.data.navigation.toc %}{% unless item.hidden %}<li{% if page.url == item.link %} class="currentPage"{% endif %}>
					{% if item.link %}<a class="menuItem" href="{{ item.link }}">{{ item.title }}</a>
					{% else %}<button class="menuItem menuControl" aria-controls="menuItem{{ item.title }}">{{ item.title }}</button>{% endif %}
					{% if item.subfolderitems[0] %}<ul id="menuItem{{ item.title }}" aria-hidden="true">
						{% for entry in item.subfolderitems %}{% unless entry.hidden %}
						<li{% if page.url == entry.link %} class="currentPage"{% endif %}><a class="menuItem" href="{{ entry.link }}">{{ entry.name }}</a></li>{% endunless %}
						{% endfor %}
					</ul>{% endif %}
				</li>{% endunless %}
				{% endfor %}
			</ul>
		</nav>