---
---
@import "kbp-global";

body {
	/*background: url(../photos/street/DSC03065.jpg) no-repeat center center fixed;*/
	/*background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	transition: background-image .5s;
	min-height: 100vh;*/
}
	
@-moz-keyframes spin {
	100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform:rotate(360deg);
	}
}

header {
	height: 100vh;
	width: 100vw;
	position: relative;
}

header h1 {
	position: absolute;
	bottom: 1em;
	left: 0;
}

header nav {
	position: absolute;
	top: 1em;
	right: 0;
}

header nav ul {
	list-style: none;
	text-align: right;
}

header nav li.hasChildren > a {
	padding-right: 1.5rem;
}

#imageLoader {
	display: none;
}