$sidebar-minWidth: 14rem;

body {
  display: grid;

  grid-template-areas: "sidebar main";
  grid-template-columns: minmax($sidebar-minWidth, 25vw) auto;
}

header {
  grid-area: sidebar;
  position: fixed;
}

main {
  grid-area: main;
  border-top: 1rem solid #000000;

  display: grid;
  grid-template-areas:
    "intro ."
    "article ."
    "slideshow ."
    "comments .";
  grid-template-columns: minmax(auto, calc(100vw - #{$sidebar-minWidth} - 1rem)) minmax(1rem, 1fr);

  width: calc(100vw - 16rem);
  max-width: 1000px;
}

main h1 {
  grid-area: intro;
}

header nav li .menuItem {
  padding-left: 2.5rem;
}

header nav li ul li .menuItem {
  padding-left: 3.5rem;
}

footer {
  position: fixed;
  bottom: 1em;
  left: 0;
  width: 12rem;
  z-index: 1;
}

$imageHeight: 70vh;
$image-maxWidth: 1000px;
$image-maxHeight: $image-maxWidth;

article, .slideshow {
  width: inherit;
  max-width: inherit;
  // width: 75vw;
  margin-left: 0;
}

article {
  grid-area: article;
}

article.blogPost {
  grid-area: auto;
  grid-column: 1;
}

article.gallery-intro {
  grid-area: intro;
}

article img {
  max-width: $image-maxWidth;
  width: 100%;
}

article figure {
  margin: 0;
}

.slideshow {
  grid-area: slideshow;
  max-height: 70vh;
}

.slideshowWrapper {
  max-width: 1000px;
  max-height: inherit;
  z-index: 0;
}

.slideshowDirection {
  z-index: 1;
}

.slide {
  figure {
    margin: 0;

    &.vertical {
      height: $imageHeight;
      max-height: $image-maxHeight;

      img {
        width: unset;
        max-height: 100%;
      }
    }
  }
}

.comments {
  grid-area: comments;
}

@media (max-width: 850px){
  body {
    grid-template-areas:
      "sidebar"
      "main";
  }

  header {
    width: 100vw;
    min-height: 3rem;
    background: #000000;
  }

  .logo {
    text-align: center;
    margin: 0 3rem 0 3rem;
    font-size: 3vw;
    line-height: 3rem;

    span {
      float: none;
      display: inline;
      padding: 0;
    }
  }

  main {
    margin: 4rem auto;
    border: none;
    grid-template-areas:
      ". intro ."
      ". article ."
      ". slideshow ."
      ". comments .";
    grid-template-columns: minmax(1rem, auto) 90vw minmax(1rem, auto);
  }

  article.blogPost {
    grid-area: auto;
    grid-column: 2;
  }
}
