.button, button {
  border-radius: 0;
  border: none;
  font-family: inherit;
  font-size: inherit;
  background: #000000;
  color: #ffffff;
  padding: .5rem;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}
