html, body {
	margin: 0;
}

body {
	font-family: "franklin-gothic-urw", sans-serif;
}

h1 {
	font-family: "din-2014", sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 2.4rem;
	margin-top: 0;
	text-align: right;
}

h2 {
	font-size: 1rem;
}

.button, button {
	border-radius: 0;
	border: none;
	font-family: inherit;
	font-size: inherit;
	background: #000000;
	color: #ffffff;
	padding: .5rem;
	font-weight: bold;
	margin: 0;
	text-decoration: none;
}

header {
	font-family: "din-2014", sans-serif;
	font-style: normal;
	font-weight: 600;
	text-transform: uppercase;
}

header h1 {
	font-weight: inherit;
	font-size: 2em;
	margin: 0;
}

header h1 span {
	display: inline-block;
	background: #000000;
	color: #ffffff;
	margin-bottom: .2em;
	float: left;
	clear: both;
	font-size: 1.2em;
	padding-left: 1em;
	padding-right: .5em;
}

#navToggle {
	display: none;
}

header nav ul {
	list-style: none;
}

header nav li {
	font-size: 2em;
	margin-bottom: .2em;
	position: relative;
}

header nav li a {
	background: #ffffff;
	color: #000000;
	text-decoration: none;
	padding-left: .5em;
	padding-right: 1em;
/* 	transition: all .5s; */
}

header nav li a:hover, header nav li.currentPage a {
	background: #000000;
	color: #ffffff;
}

header nav li a:hover:after {
	color: #ffffff;
}

header nav li ul {
	display: none;
	margin-top: .2em;
}

header nav li ul li {
	font-size: .5em;
}

header nav li ul li a {
	display: inline-block;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-right: 2rem;
}

header nav li.hasChildren > a:after {
	content: " +";
	font-weight: 400;
}

header nav li.hasChildren.expanded > a:after {
	content: " -";
}

footer {
	position: fixed;
	bottom: 1em;
	right: 0;
}

footer nav li {
	background-color: #ffffff;
}

footer nav li:hover {
	background-color: #000000;
	color: #ffffff;
}

li#instagram {
	width: 4rem;
	display: block;
}

li#instagram a {
	display: block;
	height: 3rem;
	width: 100%;
	padding: .5rem;
	box-sizing: border-box;
	background-image: url(../assets/images/instagram.svg);
	filter: brightness(0);
	background-repeat: no-repeat;
	background-size: 25px 25px;
	background-position: .5rem center;
	text-indent: -999em;
}

li#instagram:hover a {
	filter: brightness(1000);
}