/** Slideshow START **/
.slideshow {
	margin: auto;
	width: inherit;
	background: #ffffff;
}

.slideshowWrapper {
	width: inherit;
	overflow: hidden;
	position: relative;
}

.slideshowContent {
	width: inherit;
	height: 100%;
	position: relative;
	top: 0;
	left: 0;
	transition: left .5s ease-in;
	display: flex;
}

.slide {
	cursor: pointer;
	width: inherit;
}

.slide img {
	width: inherit;
}

.slideshowControls {
	display: flex;
	width: 100%;
	justify-content: start;
	margin-top: 1rem;
}

.slideControl {
	display: inline-block;
	width: 20px;
	height: 20px;
	text-indent: -999em;
	position: relative;
	border: none;
	overflow: auto;
}

.slideControl:before {
	position: absolute;
	content: " ";
	top: 5px;
	left: 5px;
	height: 10px;
	width: 10px;
	display: block;
	background: #000000;
}

.slideControl:hover:before {
	background: #878787;
}

.slideControl.active:after {
	position: absolute;
	display: block;
	content: " ";
	height: 20px;
	width: 20px;
	top: 0;
	left: 0;
	box-sizing: border-box;
	border: 2px solid black;
}
/** Slideshown END **/