{% include header.html %}
	
	<main class="gallery">
		<article>
			<h1>{{ page.title }}</h1>
			<div class="content">
				{{ content }}
			</div>
		</article>
		{% assign gallery = site.data.photos[page.gallery] %}
		<div class="slideshow">
			<div class="slideshowWrapper">
				<div class="slideshowContent">
		
					{% for photo in page.photos %}
					<figure class="slide">
						<img src="{{ photo.url}}" alt="{{ photo.caption }}">
						<figcaption>
							<span class="title">{{ photo.title }}</span>
							<span class="locationYear">{{ photo.location }}</span>
							{% if photo.print %}<a href="{{ photo.print }}" class="button buyPrint">Buy a Print</a>{% endif %}
						</figcaption>
					</figure>
					{% endfor %}
				</div>
			</div>
			<nav class="slideshowControls">
				
			</nav>
		</div>
	</main>
	
{% include footer.html %}