{% include header.html %}
    
    <main class="blog">
        <h1>Blog</h1>
        <article class="blogPost">
            <h2>{{ page.title }}</h2>
            <section class="metadata">
                {{ page.date | date: "%b %d, %Y" }}
            </section>
            <div class="content">
                {{ content }}
            </div>
        </article>
        <div class="slideshow">
            <div class="slideshowWrapper">
                <div class="slideshowContent">
        
                    {% for photo in page.photos %}{% unless photo.hidden %}
                    <div class="slide">
                        <figure>
                            <img src="{{ photo.url}}" alt="{{ photo.caption }}">
                            <figcaption>
                                <span class="title">{{ photo.title }}</span>
                                <span class="locationYear">{{ photo.location }}</span>
                                {% if photo.print %}<a href="{{ photo.print }}" class="button buyPrint">Buy a Print</a>{% endif %}
                            </figcaption>
                        </figure>
                    </div>
                    {% endunless %}{% endfor %}
                </div>
            </div>
            <nav class="slideshowDirection">
                <a href="#" class="previousSlide" title="Previous Slide">
                    <span>Previous Slide</span>
                </a>
                <a href="#" class="nextSlide" title="Next Slide">
                    <span>Next Slide</span>
                </a>
            </nav>
            <nav class="slideshowControls">
                
            </nav>
            <button id="enlarge">Enlarge</button>
        </div>
        <section class="comments">
            <div class="just-comments" data-apikey="6b3b805e-5796-4354-bb76-914b419ecf73">
            </div>
        </section>
    </main>
    
{% include footer.html %}