{% include header.html %}

  <main class="blog" id="main">
    <h1>Blog</h1>
    <article class="blogPost">
      <h2>{{ page.title }}</h2>
      <section class="metadata">
        {{ page.date | date: "%b %d, %Y" }}
      </section>
      <div class="content">
        {{ content }}
      </div>
    </article>
    <div id="mosaic">
        {% for photo in page.photos %}{% unless photo.hidden %}
        <a href = "/{{ photo.url}}"   data-ngThumb = "{% responsive_image_block %}path: {{ photo.url }}{% endresponsive_image_block %}" >{{ photo.title}}, {{ photo.location }} {{ photo.year }}</a>{% endunless %}{% endfor %}
    </div>

    <!-- <section class="comments">
      <div class="just-comments" data-apikey="6b3b805e-5796-4354-bb76-914b419ecf73">
      </div>
    </section> -->
  </main>

{% include footer.html %}
